<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <h4>组件循环用 :is</h4>
    <component  v-for="obj in arr" :is="obj.componentCode" :text="obj.formContext"></component>
    <hr>
    <h4>数据循环用 :key</h4>
    <ul>
        <li v-for="item in arr" :key="item.componentCode">{{item.formContext}}</li>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
    // 组件循环，用 :is ; 数据循环，用 :key
    Vue.component('com-a', {
        props: ['text'],
        template: '<div><h2>子组件a</h2>{{text}}</div>'
    });
    Vue.component('com-b', {
        props: ['text'],
        template: '<div><h2>子组件b</h2>{{text}}</div>'
    });

    var vm = new Vue({
        el: '#app',
        data: {
            arr: [
                {"componentCode": "com-b", "formContext": "asd"},
                {"componentCode": "com-a", "formContext": "fgh"}
            ]
        }
    });
</script>

</body>
</html>